@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: '微軟正黑體', sans-serif;
    overflow: hidden;
}

/* Grid Layout CSS */

.App {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 60px auto;
    grid-template-areas:
    "Navigation Navigation"
    "CategorySelectSideBar CardsContent"
    "CategorySelectSideBar CardsContent"
}

.Navigation {grid-area: Navigation}
.CategorySelect-SideBar {grid-area: CategorySelectSideBar}
.Cards-Content {grid-area: CardsContent}

/* Navigation Bar CSS */

.Navigation {
    background-color: #202026;
}

li, a, .btn-search > button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

.Navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #f77f00;
}

.search-container {
    margin-left: 30px;
}

.search-container > input {
    font-size: 16px;
    padding: 4px 15px;
    outline: none;
    border: none;
    border-radius: 50px;
    cursor: text;
}

.btn-search > button {
    padding: 4px 15px;
    background-color: rgba(247, 127, 0, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
}

.btn-search > button:hover {
    background-color: rgba(247, 127, 0, 0.8);
}

/* CategorySelect SideBar CSS */

.CategorySelect-SideBar {
    background-color: #343a40;
    display: flex;
	width: 250px;
}

.rarities, .types {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

.rarities span, .types span {
    color: #fff;
    outline: none;
    border: none;
    background-color: transparent;
}

.rarities {
    margin-right: 1px;
}

.weapon-category {
    cursor: pointer;
    background-color: #535C66;
	border-radius: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 2px;
    padding: 5px;
    transition: all 0.3s ease 0s;
}

.weapon-category:hover {
    background-color: #f77f00;
}

.weapon-category.active {
    background-color: #f77f00;
}

.weapon-category.classify {
    background-color: #000000;
	font-size: 20px;
	font-weight: 700;
}

/* Cards-Content CSS */

.Cards-Content {
    background-color: #bbb;
    overflow: scroll;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, auto));
    grid-template-rows: repeat(auto-fill, minmax(206px, auto));
    gap: 10px;
}

.Cards-Content p.msg{
    font-size: 24px;
    font-weight: bold;
}

.Cards-Content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.Cards-Content::-webkit-scrollbar-track {
    background-color: #bbb;
}

.Cards-Content::-webkit-scrollbar-thumb {
    background-color: #212529;
    border-radius: 999px;
}

.Cards-Content::-webkit-scrollbar-corner {
    background-color: #bbb;
}

.card {
    background-color: #fff;
    width: 240px;
    height: 206px;
	border: 2px solid #6B6B6B;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 900;
}

.card .img {
    width: 240px;
    height: 100px;
    background-color: #f3f3f3;
}

.card .img img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card .content {
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    color: #f77f00;
}

.card .content:active {
	width: 240px;
    background-color: #eee;
}

.card .content p {
	width: 240px;
    color:#535C66;
	font-size: 16px;
}

.btn-select {
    cursor: pointer;
    padding: 10px 0px;
    text-align: center;
    color: #fff;
    background-color: rgba(247, 127, 0, 1);
}

.btn-select:active {
    background-color: rgba(247, 127, 0, 0.8);
}

/* About CSS */

.about-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.about {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 300px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 40px;
    box-shadow: 0px 0px 10px 5px #000000, inset 0px 0px 30px 0px #000000;
}

.about h3 {
    color: #f77f00;
    padding-top: 30px;
    margin-bottom: 40px;
}

.about p {
    font-size: 18px;
}